.post-comments .comment {
    margin: 15px 0;
}
.post-comments .comment > .data {
    padding-left: 15px;
    border-left: 3px solid #DDD;
}
.post-comments .comment > .post-comments {
    padding-left: 30px;
}
